<configuration>
	<appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.access</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.access</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STATUS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.status</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.access</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%-5level %.-10thread %logger{35}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNC_ROLLING_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ROLLING_FILE" />
		<queueSize>1024</queueSize>
	</appender>

	<logger name="bloc.access" level="INFO" additivity="false">
		<appender-ref ref="ACCESS_LOG" />
	</logger>
	
	<logger name="bloc.status" level="INFO" additivity="false">
		<appender-ref ref="STATUS_LOG" />
	</logger>

	<root level="INFO">
		<appender-ref ref="ASYNC_ROLLING_FILE" />
	</root>
  
</configuration>