<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    
    <bean id="naverAlarmMessageSender" class="com.navercorp.pinpoint.web.alarm.NaverAlarmMessageSender"/>
    <util:properties id="batchProps" location="classpath:batch.properties"/>
    
    <bean id="naverJobFailMessageSender" class="com.navercorp.pinpoint.web.batch.NaverJobFailMessageSender">
    	<constructor-arg index="0" value="#{batchProps['alarm.sms.url']}"/>
    	<constructor-arg index="1" value="#{batchProps['alarm.sms.serviceId']}"/>
    	<constructor-arg index="2">
    		<list>
    			<value>01073715625</value>
    			<value>01037773637</value>
    			<value>01089440733</value>
    		</list>
    	</constructor-arg>
    </bean>
    
    <task:scheduled-tasks scheduler="naverScheduler">
        <task:scheduled ref="naverBatchJobLauncher" method="innerSystemSyncJob" cron="0 0 7 * * *" />
    </task:scheduled-tasks>
    
    <task:scheduler id="naverScheduler" pool-size="1"/>
    
    <bean id="naverBatchJobLauncher" class="com.navercorp.pinpoint.web.batch.NaverBatchJobLauncher">
        <property name="batchServerIp" value="#{batchProps['batch.server.ip']}"/>
    </bean>
    
    <import resource="classpath:batch/innerSystemSyncJob.xml"/>
    
</beans>