<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="smsSender" class="com.navercorp.pinpoint.web.alarm.NaverSmsSender">
        <constructor-arg index="0" ref="naverBatchConfiguration"/>
        <constructor-arg index="1" ref="userGroupServiceImpl"/>
        <constructor-arg index="2" ref="restTemplate"/>
    </bean>

    <bean id="naverBatchConfiguration" class="com.navercorp.pinpoint.web.batch.NaverBatchConfiguration"/>

    <bean id="naverJobFailMessageSender" class="com.navercorp.pinpoint.web.batch.NaverJobFailMessageSender">
        <constructor-arg index="0" ref="naverBatchConfiguration"/>
        <constructor-arg index="1" ref="batchConfiguration"/>
        <constructor-arg index="2" ref="restTemplate"/>
    </bean>

    <task:scheduled-tasks scheduler="naverScheduler">
        <task:scheduled ref="naverBatchJobLauncher" method="innerSystemSyncJob" cron="0 0 7 * * *"/>
    </task:scheduled-tasks>

    <task:scheduler id="naverScheduler" pool-size="1"/>

    <bean id="naverBatchJobLauncher" class="com.navercorp.pinpoint.web.batch.NaverBatchJobLauncher"/>


    <import resource="classpath:batch/innerSystemSyncJob.xml"/>

    <bean id="divider" class="com.navercorp.pinpoint.web.batch.job.PaaSRepositoryDivider"/>

</beans>