<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}:%-3L) %m%n"/>
        </layout>
    </appender>

    <appender name="nelo" class="com.nhncorp.nelo2.log4j.NeloAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="projectName" value="PINPOINT"/>
        <param name="collectorUrl" value="nelo2-col.nhncorp.com"/>
        <param name="port" value="10006"/>
        <param name="encoding" value="utf-8"/>
        <param name="timeout" value="1200"/>
        <param name="enable" value="true"/>
        <param name="logType" value="testtest"/>
        <param name="logSource" value="test"/>
        <param name="errorCodeType" value="default"/>
        <param name="debug" value="true"/>
    </appender>

    <appender name="nelo-async" class="com.nhncorp.nelo2.log4j.Nelo2AsyncAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="blocking" value="false"/>
        <param name="locationInfo" value="false"/>
        <param name="bufferSize" value="1024"/>
        <appender-ref ref="nelo"/>
    </appender>

    <logger name="com.navercorp.test" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="nelo-async"/>
    </logger>

    <logger name="com.navercorp.pinpoint" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>


    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>