:host {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

.filter-bar-wrapper {
    display: flex;
    height: 140px;
}

.form-field-wrapper {
    margin-right: 15px;
}

.submit-button-wrapper {
    margin-left: 5px;
    margin-top: 11px;
}

.result-wrapper {
    margin-top: 20px;
    height: calc(100% - 160px);
}
