<mat-form-field>
    <mat-label>{{selectLabel}}</mat-label>
    <mat-select
        [disabled]="shouldDisabled()"
        (selectionChange)="onSelect($event.value)">
        <mat-option>
            <ngx-mat-select-search
                [placeholderLabel]="getSearchLabel()"
                noEntriesFoundLabel="Not Found"
                [formControl]="searchCtrl">
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let opt of filteredOptList | async" [value]="opt">
            {{opt}}
        </mat-option>
    </mat-select>
</mat-form-field>
