:host {
    display: block;
    width: 100%;
    position: relative;
}

.l-password-title {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 15px 0;
    font-weight: 600;
    background-color: #f6f8fb;
    border-top: 1px solid #e5e8f0;
    border-left: 1px solid #e5e8f0;
    border-right: 1px solid #e5e8f0;
}

.l-submit-button-section {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.l-submit-button {
    color: #fff;
    background-color: #4b99e3;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    width: 130px;
    height: 45px;
}

.l-submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.fa-check-circle {
    color: #03c48b;
    font-size: 35px;
}
