<section class="l-form-wrapper" [formGroup]="userPasswordForm" (keyup)="onKeyUp()">
    <div class="l-field-wrapper">
        <label for="currentPassword">{{fieldLabel.currentPassword}} <span class="l-required-icon">*</span></label>
        <input type="password" formControlName="currentPassword" id="currentPassword" required>
        <pp-form-field-error-message
            [control]="userPasswordForm.get('currentPassword')"
            [errorMessage]="fieldErrorMessage['password']">
        </pp-form-field-error-message>
    </div>
    <div class="l-field-wrapper">
        <label for="password">{{fieldLabel.newPassword}} <span class="l-required-icon">*</span></label>
        <input type="password" formControlName="password" id="password" required>
        <pp-form-field-error-message
            [control]="userPasswordForm.get('password')"
            [errorMessage]="fieldErrorMessage['password']">
        </pp-form-field-error-message>
    </div>
    <div class="l-field-wrapper">
        <label for="confirmPassword">{{fieldLabel.confirmNewPassword}} <span class="l-required-icon">*</span></label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" required>
        <pp-form-field-error-message
            [control]="userPasswordForm.get('confirmPassword')"
            [errorMessage]="fieldErrorMessage['confirmPassword']">
        </pp-form-field-error-message>
    </div>
</section>
