<div class="l-content-wrapper">
    <div class="l-content-item">
        <pp-user-group-container></pp-user-group-container>
    </div>
    <div class="l-content-item">
        <pp-group-member-container></pp-group-member-container>
    </div>
    <div class="l-content-item">
        <pp-pinpoint-user-container></pp-pinpoint-user-container>
    </div>
</div>
<pp-application-auth-and-alarm-info-container *ngIf="viewAppConfigurationTemp" style="height: 40%;"></pp-application-auth-and-alarm-info-container>