<!--
  ~ Copyright 2018 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
	<appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.access</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.access</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STATUS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.status</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.access</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/bloc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/bloc.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%-5level %.-10thread %logger{35}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ASYNC_ROLLING_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ROLLING_FILE" />
		<queueSize>1024</queueSize>
	</appender>

	<logger name="bloc.access" level="INFO" additivity="false">
		<appender-ref ref="ACCESS_LOG" />
	</logger>
	
	<logger name="bloc.status" level="INFO" additivity="false">
		<appender-ref ref="STATUS_LOG" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="ASYNC_ROLLING_FILE" />
	</root>
  
</configuration>