<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="propertyConfigurerForTest" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:pinpoint-collector-test.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan
            base-package="com.navercorp.pinpoint.collector.dao.memory,
                                    com.navercorp.pinpoint.collector.receiver.grpc"/>

    <bean id="tokenConfig" class="com.navercorp.pinpoint.collector.config.TokenConfig"/>
    <bean id="metadataDao" class="com.navercorp.pinpoint.collector.dao.memory.MemoryMetadataDao"/>

    <bean id="tokenService" class="com.navercorp.pinpoint.collector.service.TokenServiceImpl"/>

    <bean id="namespaceService" class="com.navercorp.pinpoint.collector.service.NamespaceServiceImpl"/>

    <bean id="authTokenService" class="com.navercorp.pinpoint.collector.receiver.grpc.security.service.AuthTokenService"/>

    <bean id="authenticationInterceptor" class="com.navercorp.pinpoint.collector.receiver.grpc.security.interceptor.AuthenticationInterceptor"/>
    <bean id="authorizationInterceptor" class="com.navercorp.pinpoint.collector.receiver.grpc.security.interceptor.AuthorizationInterceptor">
        <constructor-arg index="0" value="SPAN"/>
    </bean>
</beans>