:host {
    height: calc(100% - 51px);
    display: flex;
    flex-direction: column;
}
.l-content-wrapper {
    display: flex;
    height: 60%;
}

.l-content-item {
    flex:1;
    margin-right: 20px;
}

.l-content-item:last-child {
    margin-right: 0px;
}
