<ng-container
    *ngIf="!isListEmpty(); then list; else empty">
</ng-container>
<ng-template #list>
    <ul class="l-role-list">
        <li *ngFor="let role of roleList" class="l-role-list-item">
            {{role | uppercase}}
            <button class="l-role-select-button" (click)="onClickRole(role)" [disabled]="!hasUserEditPerm">
                <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
            </button>
        </li>
    </ul>
</ng-template>
<ng-template #empty>
    <p class="l-empty-text">{{emptyText}}</p>
</ng-template>
