<div class="l-role-list-wrapper">
    <div class="l-role-list-title">
        <span>Role List</span>
    </div>
    <div class="l-role-list-list">
        <pp-role-list
            [roleList]="roleList"
            (outSelected)="onSelected($event)"
        ></pp-role-list>
    </div>
    <ng-container *ngIf="errorMessage">
        <pp-server-error-message
            [message]="errorMessage"
            (outClose)="onCloseErrorMessage()">
        </pp-server-error-message>
    </ng-container>
    <pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>
</div>
    