:host {
    display: block;
    width: 100%;
    background-color: #fff;
}

.l-role-list {
    font-size: 14px;
    max-height: 150px;
    overflow-y: auto;
}

.l-role-list-item {
    padding: 10px 15px 10px 20px;
}

.l-role-list-item:hover {
    background-color:  #e4f3eb;
}

.l-empty-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 15px;
}
