<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="metaDataSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="metaDataSqlSessionFactory"/>
    </bean>

    <bean id="metaDataSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="metaDataDataSource"/>
        <!-- mybatis basic config -->
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <!-- typeAliases -->
        <property name="typeAliasesPackage" value="com.navercorp.pinpoint.web.alarm.vo" />
        <!-- setting the location of mapper -->
        <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml"/>
        <!-- set "true" in order to catch the errors of declaration of statement more quickly -->
        <property name="failFast" value="true"/>
        <property name="plugins">
            <list>
                <!-- use the patch version because of mybatis 3.2's incompatibility-->
                <bean class="com.navercorp.pinpoint.web.dao.ibatis.BindingLogPlugin32"/>
            </list>
        </property>
    </bean>
</beans>