<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <import resource="classpath:applicationContext-web-profile-naver.xml" />
    <import resource="classpath:applicationContext-web.xml" />
    <import resource="classpath:applicationContext-web-dao-config-naver.xml" />

<!--     <import resource="classpath:applicationContext-web-nelo.xml"/> -->

    <bean id="nsightMatcherGroup" class="com.navercorp.pinpoint.web.applicationmap.link.NsightMatcherGroup">
        <constructor-arg index="0" value="#{matcherInfo}"/>       
    </bean>
    
    <bean id="nmsMatcherGroup" class="com.navercorp.pinpoint.web.applicationmap.link.NmsMatcherGroup">
        <constructor-arg index="0" value="#{matcherInfo['site.matcher.enable.nms']}"/>
        <property name="defaultMatcher">
            <bean class="com.navercorp.pinpoint.web.applicationmap.link.DefaultNmsMatcher"/>
        </property>
    </bean>
    
    <util:properties id="matcherInfo" location="classpath:site-matcher.properties"/>

    <bean id="propsNssAuthDao" class="com.navercorp.pinpoint.web.dao.props.PropsNssAuthDao">
        <constructor-arg index="0" value="${nss.override.id:}"/>
        <constructor-arg index="1" value="${nss.authorized.prefix:}"/>
    </bean>

    <bean id="nssAuthDaoFactory" class="com.navercorp.pinpoint.web.dao.NssAuthDaoFactory"/>

    <bean id="nssFilter" class="com.navercorp.pinpoint.web.servlet.NssFilter">
        <constructor-arg index="0" value="${nss.user.header.key:SSO_USER}"/>
        <constructor-arg index="1" ref="nssAuthServiceImpl"/>
        <constructor-arg index="2" ref="jsonObjectMapper"/>
    </bean>

    <bean id="agentDownloadInfoDao" class="com.navercorp.pinpoint.web.dao.rest.NaverAgentDownloadInfoDao">
    </bean>

    <bean id="userInfoDecoder" class="com.navercorp.pinpoint.web.util.NaverUserInfoDecoder">
        <constructor-arg index="0" value="${naver.userinfo.decode.key}"/>
    </bean>
    <bean id="rewriteFilter" class="com.navercorp.pinpoint.web.servlet.RewriteForV2Filter">
        <constructor-arg index="0" value="true"/>
    </bean>

    <task:scheduled-tasks>
        <task:scheduled ref="nssFilter" method="update"
                        fixed-rate="${nss.update.interval:60000}"/>
    </task:scheduled-tasks>

    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans>
