<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <import resource="classpath:applicationContext-web.xml" />
    <import resource="classpath:batch/applicationContext-batch-naver.xml" />
<!--     <import resource="classpath:applicationContext-web-nelo.xml"/> -->

    <bean id="nsightMatcherGroup" class="com.navercorp.pinpoint.web.applicationmap.link.NsightMatcherGroup">
        <constructor-arg index="0" value="#{matcherInfo}"/>       
    </bean>
    
    <bean id="nmsMatcherGroup" class="com.navercorp.pinpoint.web.applicationmap.link.NmsMatcherGroup">
        <constructor-arg index="0" value="#{matcherInfo['site.matcher.enable.nms']}"/>
        <property name="defaultMatcher">
            <bean class="com.navercorp.pinpoint.web.applicationmap.link.DefaultNmsMatcher"/>
        </property>
    </bean>
    
    <util:properties id="matcherInfo" location="classpath:site-matcher.properties"/>

    <bean id="propsNssAuthDao" class="com.navercorp.pinpoint.web.dao.props.PropsNssAuthDao"/>

    <bean id="nssAuthDaoFactory" class="com.navercorp.pinpoint.web.dao.NssAuthDaoFactory"/>

    <bean id="nssFilter" class="com.navercorp.pinpoint.web.servlet.NssFilter"/>

    <task:scheduled-tasks>
        <task:scheduled ref="nssFilter" method="update"
                        fixed-rate="#{pinpointWebProps['nss.update.interval'] ?: 60000}"/>
    </task:scheduled-tasks>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="objectMapper">
                        <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
                    </property>
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/json</value>
                            <value>application/json</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/x-www-form-urlencoded</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain</value>
                            <value>text/html</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- ================================= flink =========================== -->
    <!--
    <bean id="joincpuLoadCodec" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.CpuLoadCodec"/>
    <bean id="joinCpuLoadDecoder" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.CpuLoadDecoder">
        <constructor-arg>
            <list>
                <ref bean="joincpuLoadCodec"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="joinCpuLoadSampler" class="com.navercorp.pinpoint.web.mapper.stat.sampling.sampler.JoinCpuLoadSampler"/>

    <bean id="applicationStatRowKeyEncoder" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatRowKeyEncoder"/>
    <bean id="applicationStatRowKeyDecoder" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatRowKeyDecoder"/>
    <bean id="applicationStatHbaseOperationFactory" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatHbaseOperationFactory">
        <constructor-arg index="0" ref="applicationStatRowKeyEncoder"/>
        <constructor-arg index="1" ref="applicationStatRowKeyDecoder"/>
        <constructor-arg index="2" ref="applicationStatRowKeyDistributor"/>
    </bean>
    -->
    <!-- ================================= hbase 쪽 설정으로 이동 필요함. =========================== -->
    <!--
    <bean id="applicationStatRowKeyDistributor" class="com.sematext.hbase.wd.RowKeyDistributorByHashPrefix">
        <constructor-arg ref="applicationStatRangeHasher"/>
    </bean>

    <bean id="applicationStatRangeHasher" class="com.navercorp.pinpoint.common.hbase.distributor.RangeOneByteSimpleHash">
        <constructor-arg type="int" value="0"/>
        <constructor-arg type="int" value="33"/>
        <constructor-arg type="int" value="64"/>
    </bean>
    -->
</beans>
