<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="alpha">

    </beans>

    <beans profile="dev">

    </beans>

    <beans profile="local">

    </beans>

    <beans profile="release">

    </beans>

    <beans profile="test">

    </beans>

    <!-- optional profile -->
    <beans profile="batch">
        <import resource="classpath:batch/applicationContext-batch-naver.xml" />
    </beans>

</beans>
