<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <bean id="connectionCreator" class="com.navercorp.pinpoint.web.namespace.jdbc.NaverConnectionCreator">
    <constructor-arg index="0" value="${jdbc.default.databaseName}"/>
    </bean>

    <bean id="tableNameProvider" class="com.navercorp.pinpoint.common.hbase.HbaseTableNameProvider">
        <constructor-arg index="0" value="${hbase.namespace:default}"/>
    </bean>

    <!--For PaaS -->
    <!--
    <bean id="connectionCreator" class="com.navercorp.pinpoint.web.namespace.jdbc.PaaSConnectionCreator">
    </bean>

    <bean id="batchNameSpaceInfoHolder" class="com.navercorp.pinpoint.web.namespace.BatchNameSpaceInfoHolder" scope="step">
        <constructor-arg index="0" value="#{stepExecution}"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
    <bean id="requestNameSpaceInfoHolder" class="com.navercorp.pinpoint.web.namespace.RequestNameSpaceInfoHolder" scope="request">
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <bean id="paaSNameSpaceInfoFactory" class="com.navercorp.pinpoint.web.namespace.PaaSNameSpaceInfoFactory">
        <constructor-arg index="0" ref="batchConfigruation"/>
    </bean>
    -->
</beans>
