<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="batchNameSpaceInfoHolder" class="com.navercorp.pinpoint.web.namespace.BatchNameSpaceInfoHolder" scope="step">
        <constructor-arg index="0" value="#{stepExecution}"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
    <bean id="requestNameSpaceInfoHolder" class="com.navercorp.pinpoint.web.namespace.RequestNameSpaceInfoHolder" scope="request">
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <bean id="paaSNameSpaceInfoFactory" class="com.navercorp.pinpoint.web.namespace.PaaSNameSpaceInfoFactory">
        <constructor-arg index="0" ref="batchConfiguration"/>
    </bean>

    <bean id="tableNameProvider" class="com.navercorp.pinpoint.web.namespace.hbase.PaaSHbaseTableNameProvider">
        <constructor-arg index="0" ref="paaSNameSpaceInfoFactory"/>
    </bean>

</beans>
