<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.web.dao.ApplicationConfigDao">

    <insert id="insertAppAuthUserGroup" parameterType="AppAuthUserGroup" useGeneratedKeys="true" keyProperty="ruleId">
        INSERT INTO app_auth_user_group (application_id, user_group_id, authority)
        VALUES (#{applicationId}, #{userGroupId}, #{authority})
    </insert>
    
    <delete id="deleteAppAuthUserGroup" parameterType="AppAuthUserGroup">
        DELETE
        FROM app_auth_user_group
        WHERE application_id = #{applicationId} AND user_group_id = #{userGroupId}
    </delete>
    
    <update id="updateAppAuthUserGroup" parameterType="AppAuthUserGroup">
        UPDATE app_auth_user_group
        SET authority = #{authority} 
        WHERE application_id = #{applicationId} AND user_group_id = #{userGroupId}
    </update>
    
    <select id="selectAppAuthUserGroupList" resultType="AppAuthUserGroup">
        SELECT *
        FROM app_auth_user_group
        WHERE application_id = #{applicationId}
    </select>
    
    <select id="selectAppAuthConfig" resultType="String">
        SELECT configuration
        FROM app_auth_config
        WHERE application_id = #{applicationId}
    </select>
    
    <select id="selectExistManager" resultType="Boolean">
        SELECT IF(COUNT(*) = 0, 0, 1)
        FROM manager
        WHERE user_id = #{userId}
    </select>
    
</mapper>
