<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.web.dao.ApplicationConfigDao">

    <insert id="insertAppUserGroupAuth" parameterType="AppUserGroupAuth" useGeneratedKeys="true" keyProperty="ruleId">
        INSERT INTO app_auth_user_group (application_id, user_group_id, role, configuration)
        VALUES (#{applicationId}, #{userGroupId}, #{role.name}, #{configurationString})
    </insert>
    
    <delete id="deleteAppUserGroupAuth" parameterType="AppUserGroupAuth">
        DELETE
        FROM app_auth_user_group
        WHERE application_id = #{applicationId} AND user_group_id = #{userGroupId}
    </delete>
    
    <update id="updateAppUserGroupAuth" parameterType="AppUserGroupAuth">
        UPDATE app_auth_user_group
        SET role = #{role.name}, configuration = #{configurationString}
        WHERE application_id = #{applicationId} AND user_group_id = #{userGroupId} 
    </update>
    
    <select id="selectAppUserGroupAuthList" resultType="AppUserGroupAuth">
        SELECT application_id, user_group_id, role, configuration AS configurationString
        FROM app_auth_user_group
        WHERE application_id = #{applicationId}
    </select>
    
    <select id="isManager" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM manager
            WHERE user_id = #{userId}
        )
    </select>
    
</mapper>
