<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.batch.dao.SpanStatApplicationDao">

    <select id="selectOrganizationList" resultType="java.lang.String">
        SELECT organization
        FROM (
            SELECT organization
            FROM span_stat_application
            GROUP BY organization
        )AS organizationList
    </select>

    <select id="existSpanStatApplication" parameterType="ApplicationSearchCondition" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM span_stat_application
            WHERE organization= #{organization} AND applicationId = #{applicationId} AND timestamp = #{from}
        )
    </select>

    <insert id="insertSpanStatApplication" parameterType="ApplicationSearchCondition">
        INSERT INTO span_stat_application (organization, applicationId, count, timestamp)
        SELECT #{organization}, #{applicationId},  IFNULL(SUM(count),0) , #{from}
        FROM  span_stat_agent
        WHERE organization= #{organization} AND applicationId = #{applicationId} AND timestamp <![CDATA[ >= ]]> #{from} AND timestamp <![CDATA[ <= ]]> #{to}
    </insert>

</mapper>
