<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.batch.dao.SpanStatOrganizationDao">

    <select id="existSpanStatOrganization" parameterType="OrganizationSearchCondition" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM span_stat_organization
            WHERE organization= #{organization} AND timestamp = #{from}
        )
    </select>

    <insert id="insertSpanStatOrganization" parameterType="OrganizationSearchCondition">
        INSERT INTO span_stat_organization (organization, count, timestamp)
        SELECT organization, SUM(count) , #{from}
        FROM  span_stat_application
        WHERE organization= #{organization} AND timestamp <![CDATA[ >= ]]> #{from} AND timestamp <![CDATA[ <= ]]> #{to}
    </insert>

</mapper>
