<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="tableNameProvider" class="com.navercorp.pinpoint.collector.namespace.hbase.ThreadLocalHbaseTableNameProvider"/>

    <bean id="dispatchHandlerFactoryBeanInterceptor" class="com.navercorp.pinpoint.collector.receiver.DispatchHandlerFactoryBeanInterceptor">
        <constructor-arg value="${namespaceInfo.use.defaultValue}"/>
    </bean>
    <bean id="flinkRequestFactoryInterceptor" class="com.navercorp.pinpoint.collector.sender.FlinkRequestFactoryInterceptor"/>

    <aop:config>
        <aop:aspect id="delegateDispatchHandlerInterceptorAop" ref="dispatchHandlerFactoryBeanInterceptor">
            <aop:pointcut id="dispatchHandlerFactoryBeanPointCut" expression="execution(public com.navercorp.pinpoint.collector.receiver.DispatchHandler com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean.getObject())"/>
            <aop:around pointcut-ref="dispatchHandlerFactoryBeanPointCut" method="aroundIntercept"/>
        </aop:aspect>
        <aop:aspect id="flinkHeaderTBaseSerializerFactoryInterceptorAop" ref="flinkRequestFactoryInterceptor">
            <aop:pointcut id="flinkHeaderTBaseSerializerFactoryPointCut" expression="execution(public com.navercorp.pinpoint.io.request.FlinkRequest com.navercorp.pinpoint.collector.sender.FlinkRequestFactory.createFlinkRequest(org.apache.thrift.TBase, java.util.Map))"/>
            <aop:before pointcut-ref="flinkHeaderTBaseSerializerFactoryPointCut" method="beforeIntercept"/>
        </aop:aspect>

        <aop:aspect id="agentEventServiceInterceptorAop" ref="pinpointServerNameSpaceInfoPropagateInterceptor">
            <aop:pointcut id="agentEventServicePointCut"
                          expression="execution(public void com.navercorp.pinpoint.collector.service.async.AgentEventAsyncTaskService.handleEvent(java.util.Map,..)) and args(channelProperties,..)"/>
            <aop:around pointcut-ref="agentEventServicePointCut" method="aroundAdvice"/>
        </aop:aspect>
        <aop:aspect id="agentLifeCycleHandlerInterceptorAop" ref="pinpointServerNameSpaceInfoPropagateInterceptor">
            <aop:pointcut id="agentLifeCycleHandlerPointCut"
                          expression="execution(public void com.navercorp.pinpoint.collector.service.async.AgentLifeCycleAsyncTaskService.handleLifeCycleEvent(java.util.Map,..)) and args(channelProperties,..)"/>
            <aop:around pointcut-ref="agentLifeCycleHandlerPointCut" method="aroundAdvice"/>
        </aop:aspect>
    </aop:config>

    <bean id="pinpointServerNameSpaceInfoPropagateInterceptor" class="com.navercorp.pinpoint.collector.namespace.PinpointServerNameSpaceInfoPropagateInterceptor">
        <constructor-arg index="0" value="${namespaceInfo.use.defaultValue}"/>
    </bean>
    <beans profile="tokenAuthentication">
        <bean id="pinpointServerNameSpaceInfoPropagateInterceptor" class="com.navercorp.pinpoint.collector.namespace.PinpointServerNameSpaceInfoPropagateInterceptor">
            <constructor-arg index="0" ref="metadataService"/>
            <constructor-arg index="1" value="${namespaceInfo.use.defaultValue}"/>
        </bean>
    </beans>

</beans>