<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext-collector.xml" />
    <import resource="classpath:applicationContext-datasource.xml"/>
    <import resource="classpath:applicationContext-dao-config.xml"/>
    <import resource="classpath:applicationContext-cache.xml"/>
    <import resource="classpath:applicationContext-spanStat.xml"/>

    <context:component-scan
            base-package="com.navercorp.pinpoint.collector.dao.memory,
                        com.navercorp.pinpoint.collector.dao.mysql
                        com.navercorp.pinpoint.collector.handler.thrift"/>

    <bean id="propertyConfigurerNaver" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="acceptor" class="com.navercorp.pinpoint.rpc.server.PinpointServerAcceptor">
        <constructor-arg ref="baseAcceptorOption"/>
        <constructor-arg ref="channelFilter"/>
    </bean>

    <beans profile="tokenAuthentication">
        <!-- <bean id="tokenDao" class="com.navercorp.pinpoint.collector.dao.zookeeper.ZookeeperTokenDao"/> -->

        <!-- <bean id="metadataDao" class="com.navercorp.pinpoint.collector.dao.memory.MemoryMetadataDao"/> -->
        <bean id="metadataDao" class="com.navercorp.pinpoint.collector.dao.mysql.MysqlMetadataDao"/>

        <bean id="tokenConfig" class="com.navercorp.pinpoint.collector.service.TokenConfig"/>

        <bean id="tokenService" class="com.navercorp.pinpoint.collector.service.TokenServiceImpl"/>
    </beans>

</beans>