<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext-collector.xml" />
    <import resource="classpath:applicationContext-datasource.xml"/>
    <import resource="classpath:applicationContext-dao-config.xml"/>
    <import resource="classpath:applicationContext-cache.xml"/>
    <import resource="classpath:applicationContext-spanStat.xml"/>

    <context:component-scan
            base-package="com.navercorp.pinpoint.collector.dao.memory,
                        com.navercorp.pinpoint.collector.dao.mysql"/>

    <bean id="propertyConfigurerNaver" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="pipelineFactory" class="com.navercorp.pinpoint.collector.NaverCollectorPipelineFactory">
        <constructor-arg ref="pinpoint_collector_properties"/>
    </bean>

    <bean id="acceptor" class="com.navercorp.pinpoint.rpc.server.PinpointServerAcceptor">
        <constructor-arg ref="baseAcceptorOption"/>
        <constructor-arg ref="channelFilter"/>
        <constructor-arg ref="pipelineFactory"/>
    </bean>

    <beans profile="tokenAuthentication">
        <bean id="tokenEnableTcpDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.TokenEnableTcpDispatchHandler">
            <constructor-arg ref="thriftAgentInfoHandler"/>
            <constructor-arg ref="thriftSqlMetaDataHandler"/>
            <constructor-arg ref="thriftApiMetaDataHandler"/>
            <constructor-arg ref="thriftStringMetaDataHandler"/>
            <constructor-arg ref="thriftCreateTokenHandler"/>
        </bean>

        <bean id="tcpDispatchHandlerWrapper" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
            <constructor-arg ref="tokenEnableTcpDispatchHandler"/>
            <constructor-arg ref="handlerManager"/>
        </bean>

        <bean id="authenticationTypeLocator" class="com.navercorp.pinpoint.thrift.io.AuthenticationTBaseLocator"  factory-method="build"/>

        <bean id="authenticationTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.HeaderTBaseSerializerFactory">
            <constructor-arg type="com.navercorp.pinpoint.io.util.TypeLocator" ref="authenticationTypeLocator"/>
        </bean>
        <bean id="authenticationTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.HeaderTBaseDeserializerFactory">
            <constructor-arg type="com.navercorp.pinpoint.io.util.TypeLocator" ref="authenticationTypeLocator"/>
        </bean>

        <bean id="authenticationTCPPacketHandlerFactory" class="com.navercorp.pinpoint.collector.receiver.thrift.tcp.security.token.TokenEnableTCPPacketHandlerFactory">
            <property name="serializerFactory" ref="authenticationTBaseSerializerFactory"/>
            <property name="deserializerFactory" ref="authenticationTBaseDeserializerFactory"/>
        </bean>

        <bean id="tcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.tcp.AgentBaseDataReceiver" >
            <constructor-arg ref="baseDataReceiverConfig"/>
            <constructor-arg ref="baseDataReceiverWorker"/>
            <constructor-arg ref="acceptor"/>
            <constructor-arg ref="authenticationTCPPacketHandlerFactory"/>
            <constructor-arg ref="tcpDispatchHandlerWrapper"/>
            <constructor-arg ref="clusterService"/>
        </bean>

        <!-- <bean id="tokenDao" class="com.navercorp.pinpoint.collector.dao.zookeeper.ZookeeperTokenDao"/> -->

        <!-- <bean id="metadataDao" class="com.navercorp.pinpoint.collector.dao.memory.MemoryMetadataDao"/> -->
        <bean id="metadataDao" class="com.navercorp.pinpoint.collector.dao.mysql.MysqlMetadataDao"/>

        <bean id="tokenService" class="com.navercorp.pinpoint.collector.service.TokenServiceImpl"/>

        <bean id="spanTcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.tcp.security.token.TokenTCPReceiverBean">
            <property name="bindIp" value="#{spanReceiverConfig.tcpBindIp}"/>
            <property name="bindPort" value="#{spanReceiverConfig.tcpBindPort}"/>
            <property name="acceptorProvider" ref="spanAcceptorProvider"/>
            <property name="dispatchHandler" ref="spanDispatchHandlerFactoryBean"/>
            <!-- TCP & UDP share threadpool for span -->
            <property name="executor" ref="spanReceiverExecutor"/>
            <property name="enable" value="#{spanReceiverConfig.isTcpEnable()}"/>
            <property name="tokenService" ref="tokenService"/>
        </bean>

        <bean id="statTcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.tcp.security.token.TokenTCPReceiverBean">
            <property name="bindIp" value="#{statReceiverConfig.tcpBindIp}"/>
            <property name="bindPort" value="#{statReceiverConfig.tcpBindPort}"/>
            <property name="acceptorProvider" ref="statAcceptorProvider"/>
            <property name="dispatchHandler" ref="statDispatchHandlerFactoryBean"/>
            <!-- TCP & UDP share threadpool for stat -->
            <property name="executor" ref="statReceiverExecutor"/>
            <property name="enable" value="#{statReceiverConfig.isTcpEnable()}"/>
            <property name="tokenService" ref="tokenService"/>
        </bean>

    </beans>

</beans>