<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext-collector.xml" />

    <context:component-scan
            base-package="com.navercorp.pinpoint.collector.dao.memory"/>

    <bean id="pipelineFactory" class="com.navercorp.pinpoint.collector.NaverCollectorPipelineFactory">
        <constructor-arg ref="pinpoint_collector_properties"/>
    </bean>

    <bean id="acceptor" class="com.navercorp.pinpoint.rpc.server.PinpointServerAcceptor">
        <constructor-arg ref="channelFilter"/>
        <constructor-arg ref="pipelineFactory"/>
    </bean>

    <beans profile="tokenAuthentication">
        <bean id="tokenEnableTcpDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.TokenEnableTcpDispatchHandler">
        </bean>

        <bean id="tcpDispatchHandlerWrapper" class="com.navercorp.pinpoint.collector.receiver.DispatchHandlerWrapper">
            <constructor-arg ref="tokenEnableTcpDispatchHandler"/>
            <constructor-arg ref="handlerManager"/>
        </bean>

        <bean id="authenticationTBaseLocator" class="com.navercorp.pinpoint.thrift.io.AuthenticationTBaseLocator" />

        <bean id="authenticationTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.HeaderTBaseSerializerFactory">
            <constructor-arg type="com.navercorp.pinpoint.thrift.io.TBaseLocator" ref="authenticationTBaseLocator"/>
        </bean>
        <bean id="authenticationTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.HeaderTBaseDeserializerFactory">
            <constructor-arg type="com.navercorp.pinpoint.thrift.io.TBaseLocator" ref="authenticationTBaseLocator"/>
        </bean>

        <bean id="authenticationTCPPacketHandlerFactory" class="com.navercorp.pinpoint.collector.receiver.tcp.DefaultTCPPacketHandlerFactory">
            <property name="serializerFactory" ref="authenticationTBaseSerializerFactory"/>
            <property name="deserializerFactory" ref="authenticationTBaseDeserializerFactory"/>
        </bean>

        <bean id="tcpReceiver" class="com.navercorp.pinpoint.collector.receiver.tcp.AgentBaseDataReceiver" >
            <constructor-arg ref="baseDataReceiverConfig"/>
            <constructor-arg ref="tcpReceiverExecutor"/>
            <constructor-arg ref="acceptor"/>
            <constructor-arg ref="authenticationTCPPacketHandlerFactory"/>
            <constructor-arg ref="tcpDispatchHandlerWrapper"/>
            <constructor-arg ref="clusterService"/>
        </bean>
    </beans>

</beans>