<div class="l-wrapper">
    <table class="table l-authentication-table">
        <colgroup>
            <col width="100%">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <div class="l-table-title">
                        Authentication
                        <button class="btn btn-sm" [ngClass]="getAddButtonClass()" (click)="onShowCreateAuth()"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="l-authentication-th">                        
                        <div>User Group</div>
                        <div>Position</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 0;">
                    <div class="l-authentication-tr-wrap">
                        <pp-authentication-list
                            [i18nLabel]="i18nLabel"
                            [authorityList]="authorityList"
                            [hasUpdateAndRemoveAuthority]="hasUpdateAndRemoveAuthority"
                            (outRemove)="onRemoveAuth($event)"
                            (outEdit)="onShowUpdateAuth($event)"
                            (outInfo)="onShowAuthInfo($event)">
                        </pp-authentication-list>
                        <div class="l-not-selected" *ngIf="!isApplicationSelected()">Select Application</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pp-authentication-create-and-update
        [i18nLabel]="i18nLabel"
        [i18nGuide]="i18nGuide">
    </pp-authentication-create-and-update>
    <ng-container *ngIf="errorMessage">
        <pp-server-error-message
            [message]="errorMessage"
            (outClose)="onCloseErrorMessage()">
        </pp-server-error-message>
    </ng-container>
    <pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>
</div>
