:host {
    height: 100%;
    display: block;
    padding-bottom: 20px;
}

.l-wrapper { 
    height: 100%;
    display: flex;
    justify-content: center;
}

.l-divider { 
    color: #82c91e;
    display: flex;
    align-items: center;
    justify-content: center;
}
