<div class="l-grid">
    <div>Administrator</div>
    <div>
        <dl>
            <dt>{{i18nText.adminMenuTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="disableFormControl" [(ngModel)]="roleInfo.permissionCollection.permsGroupAdministration.viewAdminMenu"> {{i18nText.viewAdminMenu}}</mat-checkbox></dd>
        </dl>
        <dl>
            <dt>{{i18nText.editUserTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="disableFormControl" [(ngModel)]="roleInfo.permissionCollection.permsGroupAdministration.editUser"> {{i18nText.editUser}}</mat-checkbox></dd>
        </dl>
        <dl>
            <dt>{{i18nText.editRoleTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="disableFormControl" [(ngModel)]="roleInfo.permissionCollection.permsGroupAdministration.editRole"> {{i18nText.editRole}}</mat-checkbox></dd>
        </dl>            
    </div>
    <div>Authentication</div>
    <div>
        <dl>
            <dt>{{i18nText.preoccupancyTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="disableFormControl" [(ngModel)]="roleInfo.permissionCollection.permsGroupAppAuthorization.preoccupancy"> {{i18nText.preoccupancy}}</mat-checkbox></dd>
        </dl>
        <mat-radio-group [disabled]="disableFormControl" [(ngModel)]="permsGroupAppAuthorization">
            <dl>
                <dt>{{i18nText.editAuthorTitle}}</dt>
                <dd><mat-radio-button class="example-margin" value="false"> {{i18nText.editAuthorForEverything}}</mat-radio-button></dd>
                <dd><mat-radio-button class="example-margin" value="true"> {{i18nText.editAuthorOnlyManager}}</mat-radio-button></dd>
            </dl>
        </mat-radio-group>
    </div>
    <div>Alarm</div>
    <div>
        <mat-radio-group [disabled]="disableFormControl" [(ngModel)]="permsGroupAlarm">
            <dl>
                <dt>{{i18nText.editAlarmTitle}}</dt>
                <dd><mat-radio-button class="example-margin" value="false"> {{i18nText.editAlarmForEverything}}</mat-radio-button></dd>
                <dd><mat-radio-button class="example-margin" value="true"> {{i18nText.editAlarmOnlyGroupMember}}</mat-radio-button></dd>
            </dl>
        </mat-radio-group>
    </div>
    <div>User Group</div>
    <div>
        <mat-radio-group [disabled]="disableFormControl" [(ngModel)]="permsGroupUserGroup">
            <dl>
                <dt>{{i18nText.editGroupTitle}}</dt>
                <dd><mat-radio-button class="example-margin" value="false"> {{i18nText.editGroupForEverything}}</mat-radio-button></dd>
                <dd><mat-radio-button class="example-margin" value="true"> {{i18nText.editGroupOnlyGroupMember}}</mat-radio-button></dd>
            </dl>
        </mat-radio-group>
    </div>
</div>