<div class="l-grid">
    <div>Administrator</div>
    <div>
        <dl>
            <dt>{{i18nText.adminMenuTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()" [(ngModel)]="viewAdminMenu"> {{i18nText.viewAdminMenu}}</mat-checkbox></dd>
        </dl>
        <dl>
            <dt>{{i18nText.editUserTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editUser"> {{i18nText.editUser}}</mat-checkbox></dd>
        </dl>
        <dl>
            <dt>{{i18nText.editRoleTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editRole"> {{i18nText.editRole}}</mat-checkbox></dd>
        </dl>            
    </div>
    <div>Authentication</div>
    <div>
        <dl>
            <dt>{{i18nText.preoccupancyTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="preoccupancy"> {{i18nText.preoccupancy}}</mat-checkbox></dd>
        </dl>
        <dl>
            <dt>{{i18nText.editAuthorTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editAuthorForEverything"> {{i18nText.editAuthorForEverything}}</mat-checkbox></dd>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editAuthorOnlyManager"> {{i18nText.editAuthorOnlyManager}}</mat-checkbox></dd>
        </dl>
    </div>
    <div>Alarm</div>
    <div>
        <dl>
            <dt>{{i18nText.editAlarmTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editAlarmForEverything"> {{i18nText.editAlarmForEverything}}</mat-checkbox></dd>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editAlarmOnlyManager"> {{i18nText.editAlarmOnlyManager}}</mat-checkbox></dd>
        </dl>
    </div>
    <div>User Group</div>
    <div>
        <dl>
            <dt>{{i18nText.editGroupTitle}}</dt>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editGroupForEverything"> {{i18nText.editGroupForEverything}}</mat-checkbox></dd>
            <dd><mat-checkbox class="example-margin" [disabled]="!hasRoleEditPerm" (change)="onChange()"  [(ngModel)]="editGroupOnlyGroupMember"> {{i18nText.editGroupOnlyGroupMember}}</mat-checkbox></dd>    
        </dl>
    </div>
</div>