<h3 class="l-role-title">Role</h3>
<section class="l-role-content-wrapper">
    <ng-container *ngIf="roleList">
        <section class="l-rest-role-list-wrapper">
            <pp-role-list-for-users
                [roleList]="restRoleList"
                [emptyText]="emptyText$ | async"
                [buttonTemplate]="selectButton"
                (outSelectRole)="onAssignRole($event)">
            </pp-role-list-for-users>
        </section>
        <hr width="2">
        <section class="l-user-role-list-wrapper">
            <pp-role-list-for-users
                [roleList]="userRoleList"
                [emptyText]="emptyText$ | async"
                [buttonTemplate]="removeButton"
                (outSelectRole)="onUnAssignRole($event)">
            </pp-role-list-for-users>
        </section>
    </ng-container>
</section>
<ng-container *ngIf="hasUserEditPerm && userId">
    <section class="l-submit-button-section">
        <ng-container *ngIf="isUpdated; then checkedIcon; else updateButton"></ng-container>
        <ng-template #updateButton>
            <button class="l-submit-button" (click)="onClickUpdateButton()" [disabled]="!isValid">{{buttonText$ | async}}</button>
        </ng-template>
        <ng-template #checkedIcon>
            <i class="fas fa-check-circle"></i>
        </ng-template>
    </section>
</ng-container>
<ng-template #selectButton let-role="role" let-handler="handler">
    <button class="l-role-select-button" (click)="handler(role)" [disabled]="!hasUserEditPerm">
        <i class="fas fa-arrow-right" [class.disabled]="!hasUserEditPerm"></i>
    </button>
</ng-template>
<ng-template #removeButton let-role="role" let-handler="handler">
    <button class="l-role-select-button" (click)="handler(role)" [disabled]="!hasUserEditPerm">
        <i class="far fa-trash-alt" [class.disabled]="!hasUserEditPerm"></i>
    </button>
</ng-template>
<ng-container *ngIf="errorMessage">
    <pp-server-error-message
        [message]="errorMessage"
        (outClose)="onCloseErrorMessage()">
    </pp-server-error-message>
</ng-container>
