:host {
    display: block;
    width: 100%;
    position: relative;
}

.l-role-title {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
    font-weight: 600;
    background-color: #f6f8fb;
    border-top: 1px solid #e5e8f0;
    border-left: 1px solid #e5e8f0;
    border-right: 1px solid #e5e8f0;
}

.l-role-content-wrapper {
    display: flex;
    border: 1px solid #e5e8f0;
}

.l-rest-role-list-wrapper,
.l-user-role-list-wrapper {
    flex: 1;
    /* height: 150px; */
    max-height: 150px;
}

.fa-arrow-right {
    color: var(--primary-color);
}

.disabled {
    color: #ccc;
}

.l-role-select-button {
    float: right;
    font-size: 14px;
}

.l-role-select-button:disabled {
    cursor: default;
}

.l-submit-button-section {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.l-submit-button {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    width: 130px;
    height: 45px;
}

.l-submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.fa-check-circle {
    color: #03c48b;
    font-size: 35px;
}
