:host {
    width: 100%;
    height: 100%;
}
.l-wrapper {
    position: relative;
}
.l-title-button {
    text-align: right;
    padding-bottom: 10px;
}
.l-title-button span {
    margin-right: 10px;
}
.l-grid {
    height: 500px;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
}
.l-content-message {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.l-content-message div {
    margin-bottom: 30px;
}
.l-button {
    color: #fff;
    background-color: #4b99e3;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    width: 200px;
    height: 45px;
    text-align: center;
}