<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <import resource="classpath:applicationContext-datasource.xml"/>

    <!-- Transaction manager for a single JDBC DataSource -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <qualifier value="transactionManager"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="metaDataTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <qualifier value="metaDataTransactionManager"/>
        <property name="dataSource" ref="metaDataDataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <tx:annotation-driven transaction-manager="metaDataTransactionManager"/>

    <!-- SqlsessionFactory setup for MyBatis Database Layer -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- mybatis basic config -->
        <property name="configLocation" value="classpath:/mybatis/repository-config.xml"/>
        <!-- setting the location of mapper -->
        <property name="mapperLocations">
            <array>
                <value>classpath*:mapper/RepositoryMapper.xml</value>
            </array>
        </property>
        <!-- set "true" in order to catch the errors of declaration of statement more quickly -->
        <property name="failFast" value="true"/>
    </bean>

    <bean id="metaDataSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="metaDataDataSource"/>
        <!-- mybatis basic config -->
        <property name="configLocation" value="classpath:/mybatis/metadata-config.xml"/>
        <!-- setting the location of mapper -->
        <property name="mapperLocations">
            <array>
                <value>classpath*:mapper/MetadataMapper.xml</value>
            </array>
        </property>
        <!-- set "true" in order to catch the errors of declaration of statement more quickly -->
        <property name="failFast" value="true"/>
    </bean>

    <bean id="statisticsSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="statisticsDataSource"/>
        <!-- mybatis basic config -->
        <property name="configLocation" value="classpath:/mybatis/statistics-config.xml"/>
        <!-- setting the location of mapper -->
        <property name="mapperLocations">
            <array>
                <value>classpath*:mapper/StatisticsMapper.xml</value>
            </array>
        </property>
        <!-- set "true" in order to catch the errors of declaration of statement more quickly -->
        <property name="failFast" value="true"/>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="metaDataSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="metaDataSqlSessionFactory"/>
    </bean>

    <bean id="statisticsSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="statisticsSqlSessionFactory"/>
    </bean>


    <mybatis:scan base-package="com.navercorp.pinpoint.manager.dao.mybatis" factory-ref="metaDataSqlSessionFactory"/>

</beans>