<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.manager.dao.MetadataDao">

    <select id="existOrganization" parameterType="string" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM paas_organization
            WHERE organization = #{organizationName}
        )
    </select>

    <delete id="deleteOrganizationInfo" parameterType="string">
        DELETE
        FROM paas_organization
        WHERE organization = #{organizationName}
    </delete>

    <insert id="insertOrganizationInfo" parameterType="PaaSOrganizationInfo">
        INSERT INTO paas_organization (organization, database_name, hbase_namespace)
        VALUES (#{organization}, #{databaseName}, #{hbaseNameSpace})
    </insert>

</mapper>
