<div class="l-agent-wrapper">
    <div class="l-agent-title">
        <button class="btn btn-red" (click)="onRemoveAllInactiveAgents()">Remove Inactive Agents</button>
    </div>
    <ng-container *ngIf="!isNone();else elseBlock">
        <div class="l-agent-list">
            <pp-removable-agent-list
                [rowData]="agentList"
                (outSelectAgent)="onRemoveSelectAgent($event)"
            ></pp-removable-agent-list>
        </div>
        <ng-container *ngIf="isRemove()">
            <div class="l-remove-message">
                <div class="l-band">
                    <div *ngIf="isAllRemove()"><span>{{i18nText.removeAllAgents}}</span></div>
                    <div *ngIf="!isAllRemove()">
                        <span>{{removeTarget[0]}}</span>
                        <br/>
                        <span>{{removeTarget[1]}}</span>
                        <div>{{i18nText.removeAgent}}</div>
                    </div>
                </div>
                <button class="l-submit-button" (click)="onRemoveCancel()">{{i18nText.cancelButton}}</button>            
                <button class="l-submit-button btn-red" (click)="onRemoveConfirm()">{{i18nText.removeButton}}</button>            
            </div>
        </ng-container>    
        <ng-container *ngIf="errorMessage">
            <pp-server-error-message
                [message]="errorMessage"
                (outClose)="onCloseErrorMessage()">
            </pp-server-error-message>
        </ng-container>         
    </ng-container>
    <ng-template #elseBlock>
        <div class="l-agent-do-not-selected">{{i18nText.select}}</div>
    </ng-template>
    <pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>
</div>
    