<section class="l-user-list-wrapper">
    <pp-pinpoint-user-container-for-users
        (outAddUser)="onAddUser()"
        (outSelectUser)="onSelectUser($event)"
        (outRemoveUser)="onRemoveUser($event)"
        (outClear)="onClear()">
    </pp-pinpoint-user-container-for-users>
</section>
<section class="l-user-info-wrapper">
    <ng-container [ngSwitch]="activeView">
        <ng-container *ngSwitchCase="viewType.USER_INFO">
            <ng-container *ngComponentOutlet="userInfoComponent; injector: userInfoInjector"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="viewType.CONFIRM_REMOVE">
            <ng-container *ngComponentOutlet="confirmRemoveUserComponent; injector: userInfoInjector"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="viewType.NOTHING"></ng-container>
    </ng-container>
    <ng-container *ngIf="errorMessage">
        <pp-server-error-message
            [message]="errorMessage"
            (outClose)="onCloseErrorMessage()">
        </pp-server-error-message>
    </ng-container>
    <pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>
</section>
    