<pp-user-profile
    [userProfile]="userProfile"
    [hasUserEditPerm]="hasUserEditPerm"
    [fieldErrorMessage]="fieldErrorMessage$ | async"
    (outUserProfileChange)="onUserProfileChange($event)">
</pp-user-profile>
<ng-container *ngIf="hasUserEditPerm && userProfile">
    <section class="l-submit-button-section">
        <ng-container *ngIf="isUpdated; then checkedIcon; else updateButton"></ng-container>
        <ng-template #updateButton>
            <button class="l-submit-button" (click)="onClickUpdateButton()" [disabled]="!isValid">저장</button>
        </ng-template>
        <ng-template #checkedIcon>
            <i class="fas fa-check-circle"></i>
        </ng-template>
    </section>
</ng-container>
<ng-container *ngIf="errorMessage">
    <pp-server-error-message
        [message]="errorMessage"
        (outClose)="onCloseErrorMessage()">
    </pp-server-error-message>
</ng-container>
