<table class="table" [formGroup]="userProfileForm" (keyup)="onKeyUp()">
    <thead>
        <tr>
            <th colspan="2">User Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ID<span class="l-required-icon">*</span></th>
            <td>
                <input type="text" formControlName="userId" [readonly]="!hasUserEditPerm || !!userProfile" required>
                <pp-form-field-error-message
                    [control]="userProfileForm.get('userId')"
                    [errorMessage]="fieldErrorMessage['userId']">
                </pp-form-field-error-message>
            </td>
        </tr>
        <tr>
            <th>Name<span class="l-required-icon">*</span></th>
            <td>
                <input type="text" formControlName="name" [readonly]="!hasUserEditPerm" required>
                <pp-form-field-error-message
                    [control]="userProfileForm.get('name')"
                    [errorMessage]="fieldErrorMessage['name']">
                </pp-form-field-error-message>
            </td>
        </tr>
        <tr>
            <th>Department</th>
            <td>
                <input type="text" formControlName="department" [readonly]="!hasUserEditPerm">
            </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>
                <input type="tel" formControlName="phoneNumber" [readonly]="!hasUserEditPerm">
                <pp-form-field-error-message
                    [errorMessage]="">
                </pp-form-field-error-message>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input type="email" formControlName="email" [readonly]="!hasUserEditPerm">
            </td>
        </tr>
    </tbody>
</table>
