<div class="server-list">
	<div class="server-list-layer">
		<div class="server-list-wrapper">
			<div class="server-list-header">Server List</div>
			<form>
				<ul class="server-collection _node" ng-show="bIsNode" ng-repeat="(key, server) in serverList | orderBy:'key'">
					<li>
						<div>
							<span class="glyphicon glyphicon-home"></span> <span class="server-name">{{server.name.split(':')[0]}}</span>
						</div>
						<div style="text-align:right" ng-if="server.linkList">
							<button ng-repeat="link in server.linkList" class="btn btn-xs btn-custom" ng-click="openSite(link.linkType, link.linkName, link.linkURL)">{{link.linkName}}</button>
							<!--ul ng-if="server.linkList" style="padding:0px;margin:0px;display:inline;">
								<li ng-repeat="link in server.linkList" style="list-style:none;padding:0px;margin:0px;display:inline;padding-left:4px;">
									<button ng-if="link.linkType == 'button'" class="btn btn-default btn-xs" type="button" ng-click="invokeLinkAction( linkName, link.linkURL )">{{link.linkName}}</button>
									<a ng-if="link.linkType == 'aTag'" class="btn btn-default btn-xs" href="{{link.linkURL}}" target="_blank">{{link.linkName}}</a>
								</li>
							</ul-->
						</div>
						<ul>
							<li ng-repeat="instance in server.instanceList | orderBy:'instance.name'">
								<label>
									<input type="radio" name="selectedServer" value="{{instance.name}}" name="selectedServer" ng-click="selectServer(instance.name)" ng-checked="$parent.$first && $first">
									<span class="glyphicon glyphicon-hdd" style="color:{{hasError(node.agentHistogram[instance.name])}}"></span>
									<span>{{instance.name}}</span>
								</label>
								<a style="float:right" ng-click="openInspector($event, instance.name)">Inspector</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="server-collection _link" ng-hide="bIsNode" >
					<li>
						<ul>
							<li ng-repeat="(name, histogram) in linkList | orderBy:'name'">
								<label>
									<input type="radio" name="selectedServer" value="{{name}}" ng-click="selectServer(name)" ng-checked="$first">
									<span class="glyphicon glyphicon-hdd" style="color:{{hasError(histogram)}}"></span>
									<span>{{name}}</span>
								</label>
								<a style="float:right" ng-click="openInspector($event, name)">Inspector</a>
							</li>
						</ul>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class="server-list-chart">
		<div class="chart-header">
			<button ng-click="hideLayer()" class="btn btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
		<!--scatter-directive ng-show="hasScatter"></scatter-directive-->
		<div class="chart-list">
			<h5>Response Summary</h5>
			<response-time-chart-directive namespace="forServerList"></response-time-chart-directive>
			<h5>Load</h5>
			<load-chart-directive namespace="forServerList"></load-chart-directive>
		</div>
	</div>
	<div class="nms-list" ng-show="showNMSList" style="position:absolute;background-color:#FCFCFC;right: 0px;padding:24px 18px 2px 1px;height:100%;overflow-y:auto;;overflow-x:hidden;box-shadow: -5px 0px 5px 0px rgba(243,136,12,0.75);width:420px;">
		<div style="color:brown;height:20px;margin-bottom:4px;font-weight:bold;position:fixed;font-weight:bold;margin-top:-22px;right:24px"><a href="http://nms.navercorp.com" target="_blank">
			<span class="glyphicon glyphicon-link" aria-hidden="true"></span> Network Monitor System</a>
			<span class="glyphicon glyphicon-question-sign nmsTooltip" style="cursor:pointer;margin-right:2px;"></span>
		</div>
		<div class="nms"></div>
	</div>
</div>