:host {
    display: block;
}

::ng-deep .ngx-timepicker {
    height: auto !important;
}

.timepicker-section {
    display: inline-block;
    margin-left: 10px;
}

::ng-deep .ngx-timepicker-control.disabled {
    color: #ccc !important;
    pointer-events: none;
}
