<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %-5level %logger{36} -[TransactionId :
                %X{PtransactionId}] [projectName : %X{PspanId}] %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="nelo-logback" class="com.naver.nelo2.logback.HttpAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <param name="projectName" value="PINPOINT" />
        <param name="collectorUrl" value="http://nelo2-col.navercorp.com/_store" />
        <param name="port" value="10006" />
        <param name="timeout" value="1200" />
        <param name="enable" value="true" />
        <param name="errorCodeType" value="default" />
        <param name="debug" value="true" />
    </appender>

    <appender name="nelo-logback-async" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <param name="BlockWhenFull" value="false" />
        <param name="IncludeCallerData" value="true" />
        <param name="QueueCapacity" value="2048" />
        <appender-ref ref="nelo-logback" />
    </appender>

    <logger name="com.navercorp.test" level="INFO" additivity="false">
        <appender-ref ref="nelo-logback-async" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="nelo-logback-async" />
    </root>
</configuration>