<table class="table" [formGroup]="userPasswordForm" (keyup)="onKeyUp()">
    <thead>
        <tr>
            <th colspan="2">User Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Password<span class="l-required-icon">*</span></th>
            <td>
                <input type="password" formControlName="password" required>
                <pp-form-field-error-message
                    [control]="userPasswordForm.get('password')"
                    [errorMessage]="fieldErrorMessage['password']">
                </pp-form-field-error-message>
            </td>
        </tr>
    </tbody>
</table>
