<ng-container [ngSwitch]="loggedInUserType">
    <ng-container *ngSwitchCase="userType.ADMIN">
        <pp-user-password
            [userPassword]="userPassword"
            [fieldErrorMessage]="fieldErrorMessage$ | async"
            [fieldLabel]="fieldLabel$ | async"
            (outUserPasswordChange)="onUserPasswordChange($event)">
        </pp-user-password>
    </ng-container>
    <ng-container *ngSwitchCase="userType.ELSE">
        <pp-user-password-for-general
            [userPassword]="userPassword"
            [fieldErrorMessage]="fieldErrorMessage$ | async"
            [fieldLabel]="fieldLabel$ | async"
            (outUserPasswordChange)="onUserPasswordChange($event)">
        </pp-user-password-for-general>
    </ng-container>
</ng-container>
<ng-container *ngIf="userId">
    <section class="l-submit-button-section">
        <ng-container *ngIf="isUpdated; then checkedIcon; else updateButton"></ng-container>
        <ng-template #updateButton>
            <button class="l-submit-button" (click)="onClickUpdateButton()" [disabled]="!isValid">{{buttonText$ | async}}</button>
        </ng-template>
        <ng-template #checkedIcon>
            <i class="fas fa-check-circle"></i>
        </ng-template>
    </section>
</ng-container>
<ng-container *ngIf="errorMessage">
    <pp-server-error-message
        [message]="errorMessage"
        (outClose)="onCloseErrorMessage()">
    </pp-server-error-message>
</ng-container>
