<section class="datetime-picker-section">
    <mat-form-field>
        <mat-label>From</mat-label>
        <input
            autocomplete="off"
            matInput
            [matDatepicker]="fromPicker"
            (click)="fromPicker.open()"
            (dateChange)="onFromDateChange($event.value)">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <section class="timepicker-section">
        <ngx-timepicker-field
            [format]="24"
            [defaultTime]="'0:00'"
            [controlOnly]="true"
            #fromTimepicker>
        </ngx-timepicker-field>
    </section>
</section>
<section class="datetime-picker-section">
    <mat-form-field>
        <mat-label>To</mat-label>
        <input
            autocomplete="off"
            matInput
            [matDatepicker]="toPicker"
            [min]="minDate"
            (click)="toPicker.open()"
            (dateChange)="onToDateChange($event.value)">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <section class="timepicker-section">
        <ngx-timepicker-field
            [format]="24"
            [defaultTime]="'0:00'"
            [controlOnly]="true"
            #toTimepicker>
        </ngx-timepicker-field>
    </section>
</section>
