<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.inspector.web.dao.pinot.PinotAgentStatDao">

    <resultMap id="systemMetricPointResultMap" type="SystemMetricPoint">
        <constructor>
            <arg column="avgTime" javaType="_long"/>
            <arg column="avgValue" javaType="Number" typeHandler="DoubleHandler"/>
        </constructor>
    </resultMap>

    <!--TODO : (minwoo) AVG, MAX 이거 통합 가능할듯함. -->
    <select id="selectInspectorAvgData" parameterType="inspectorQueryParameter" resultMap="systemMetricPointResultMap" >
        SELECT
            AVG(fieldValue) AS avgValue,
            DATETIME_CONVERT(eventTime, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH', '#{timePrecision.timeSize}:${timePrecision.timeUnit}') AS avgTime
        FROM inspectorStat
        WHERE
      <!--  tenantId = #{tenantId}
            AND serviceName = #{serviceName}
            AND applicationName = #{applicationName} -->
            agentId = #{agentId}
            AND metricName = #{metricName}
            AND fieldName = #{fieldName}
            <foreach collection="tagList" item="tag" separator=" ">
                AND tags = #{tag}
            </foreach>
            AND eventTime BETWEEN #{range.from} AND #{range.to}
            GROUP BY avgTime
            ORDER BY avgTime asc
            LIMIT ${limit}
    </select>

    <select id="selectInspectorMaxData" parameterType="inspectorQueryParameter" resultMap="systemMetricPointResultMap" >
        SELECT
        MAX(fieldValue) AS avgValue,
        DATETIME_CONVERT(eventTime, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH', '#{timePrecision.timeSize}:${timePrecision.timeUnit}') AS avgTime
        FROM inspectorStat
        WHERE
        <!--  tenantId = #{tenantId}
              AND serviceName = #{serviceName}
              AND applicationName = #{applicationName} -->
        agentId = #{agentId}
        AND metricName = #{metricName}
        AND fieldName = #{fieldName}
        <foreach collection="tagList" item="tag" separator=" ">
            AND tags = #{tag}
        </foreach>
        AND eventTime BETWEEN #{range.from} AND #{range.to}
        GROUP BY avgTime
        ORDER BY avgTime asc
        LIMIT ${limit}
    </select>

    <select id="selectInspectorSumData" parameterType="inspectorQueryParameter" resultMap="systemMetricPointResultMap" >
        SELECT
        SUM(fieldValue) AS avgValue,
        DATETIME_CONVERT(eventTime, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH', '#{timePrecision.timeSize}:${timePrecision.timeUnit}') AS avgTime
        FROM inspectorStat
        WHERE
        <!--  tenantId = #{tenantId}
              AND serviceName = #{serviceName}
              AND applicationName = #{applicationName} -->
        agentId = #{agentId}
        AND metricName = #{metricName}
        AND fieldName = #{fieldName}
        <foreach collection="tagList" item="tag" separator=" ">
            AND tags = #{tag}
        </foreach>
        AND eventTime BETWEEN #{range.from} AND #{range.to}
        GROUP BY avgTime
        ORDER BY avgTime asc
        LIMIT ${limit}
    </select>

</mapper>
